EXPO_PUBLIC_FIREBASE_API_KEY=your_api_key_here
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=campusconnect-9758a.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=campusconnect-9758a
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=campusconnect-9758a.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_sender_id_here
EXPO_PUBLIC_FIREBASE_APP_ID=your_app_id_here
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=your_measurement_id_here
EXPO_PUBLIC_USE_EMULATOR=true
# Fiziksel cihaz IP
EXPO_PUBLIC_EMULATOR_HOST=
# Google Web client ID
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
# Google Android client ID
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
# Google iOS client ID
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
